div{
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
@-webkit-keyframes pulsate {
  30% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  35% {
    opacity: 1.0;
  }
  40% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
